{% extends "base.html"  %}
<!DOCTYPE html>
<html>
  <body>
    {% block content %}
      <h1> Welcome to the 'About Me' page </h1>
        <img src="https://d17fnq9dkz9hgj.cloudfront.net/uploads/2012/11/147453034-pit-bull-myths-reality-632x475.jpg" width="200" height="150"/>
        <p> We are a little shop that take cares of a lot of pets </p>
        <p> The first few days in your home are special and critical for a pet. Read these tips about making it as smooth of a transition as possible.</p>

    {% endblock %}
   </body>
</html>
