{% extends "base.html"  %}
<!DOCTYPE html>
<html>
  <body>
    {% block content %}
    <h2> {{ template_pet }}</h2>
       <img src="{{template_image}}"/>
         <p> {{template_desc}} </p>
           <ul>
             <li> {{template_breed}}</li>
             <li> {{template_age}} </li>
           </ul>
         <h3> Comment Sections </h3>
         <div>
           <ul>
              {% for comment in template_comment %}
                <li>{{template_date}} - {{comment}}</li>
              {% endfor %}

           </ul>
           <form method="POST">
             {{ template_form.hidden_tag() }}
             {{ template_form.comment.label }}
             {{ template_form.comment() }}
             {{ template_form.submit() }}
           </form>
         </div>
    {% endblock %}
  </body>
</html>
